$font-size-extra-small: 8px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 18px;
$font-size-extra-large: 24px;
$font-size-extra-extra-large: 48px;

$font-weight-extra-light: 300;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$font-family: 'Arial';
